.btn-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.btn-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1000ms, opacity 1000ms;
}

.btn-enter-done,
.btn-exit {
  opacity: 1;
  transform: translateY(0);
}

.btn-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1000ms, opacity 1000ms;
}

.btn-exit-done {
  opacity: 0;
}